.btn-danger{
    margin-left: 20px;
}
.tableFixHead {
    overflow-y: scroll;
    height: 200px;
    width : fit-content;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 2px 4px;
    border: 2px solid #ccc;
  }
  th {
    background: #eee;
  }